@import url('./reset.css');
:root {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}
nav {
  text-align: center;
  font-size: 40px;
}
p {
  font-size: 1.5rem;
}
/* For transition */
img {
  transition: all 2s;
  margin-left: 10px;
  opacity: 1;
}
img:hover {
  opacity: 0.3;
  margin-left: 20px;
  transform: translate(50%, 200px);
}
.animation{
  margin-left: 20%;
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
  animation-direction: normal;
  /* animation-fill-mode: both; */
}
@keyframes slide {
  0%{
    margin-left: 90%;
    color: red;
    font-size: 30px;
  }
  50%{
    margin-left: 50%;
    color: magenta;
    font-size: 70px;
    transform: rotate(180deg);
  }
  100%{
    margin-left: 20%;
    color: blue;
    font-size: 20px;
  }
}